@using WebSite.Resources
@using Microsoft.AspNetCore.Mvc.Localization
@using WebSite.Model

@inject IOptions<AppInfo> AppInfo
@inject IOptions<ContactsInfo> ContactsInfo
@inject IOptions<MailSettings> MailSettings

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Parcor";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}


<div class="landing-page" style="display:none;background: #f9f6f6fa;" id="SegniLandingMobile">
    <div class="content">
        <div class="container" style="display: flex; justify-content: center;">
            <div class="info">
                <h1>Progetto Segni</h1>
                <button type="button" href="https://www.progettosegni.it/">@Localizer[MainResource.VisiteTheSite]</button>
            </div>
            <div class="image">
                <img src="~/asset/img/coertinaSegni.png" />
            </div>
        </div>
    </div>
</div>
<div class="background segni-back  parallax" id="SegniLandingDesktop">
    <br />
</div>
<div class="background segni-back  parallax" id="SegniLandingDesktop">
    <br />
</div>

<section style="background: #f9f6f6fa;">
    <div class="container">
        <br />
        <div class="row">           
            <div class="block"></div>
            <p>
                @Html.Raw(@MainResource.ParcorDescription)
            </p>
        </div>
        <br />
        <div class=" row justify-content-center">
            <div id="ProvaOraSegni">
                <button class="projectButton" type="button" href="https://www.progettosegni.it/">@Localizer[MainResource.VisiteTheSite]</button>
            </div>
            <br />
            <div class="block"></div>
            <br />
            <p>
                @Localizer[ProjectsResource.LudiSocial] <br />
                <br />
                <ul style="list-style-type:none;">
                   
                    <li>
                        <a href="https://www.facebook.com/ProgettoSegni1" target="_blank"><i class="fab fa-facebook fa-3x" style="color: #1877F2;"></i></a>
                    </li>
                   
                </ul>
            </p>
            <br />
        </div>
        <br />
    </div>
    <br />
</section>
<div class="background segni-back parallax" id="SegniLandingDesktop">
    <br />
</div>
<section id="gallery" style="background: #f9f6f6fa;">
    <div class="container" id="wrapper">
        <br />
        <h1>Gallery</h1>
        <div class="block"></div>
        <div class="row rwd-video">
            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FProgettoSegni1%2Fvideos%2F634803284870101%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>            
        </div>
    </div>
    <br />
</section>

<div class="background segni-back parallax" id="SegniLandingDesktop">
    <br />
</div>




