@using WebSite.Resources
@using WebSite.Model
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IOptions<AppInfo> AppInfo
@inject IOptions<ContactsInfo> ContactsInfo
@inject IOptions<MailSettings> MailSettings

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* message modals *@
<!-- Success Modal -->
<!-- Frame Modal Top Info-->
<div class="modal fade " id="success-box" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <!--Content-->
        <div class="modal-content" style="background: linear-gradient(to bottom left,#B0DB7D 40%, #99DBB4 100%); border-radius: 20px; box-shadow: 5px 5px 20px rgba(#CBCDD3, 10%);">
            <!--Body-->
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">
                    <p class="pt-3 pr-2" style="text-align: center; text-transform: uppercase; font-family: monospace; font-weight: bold;color:white;">
                        <strong> <i class="fa-solid fa-face-smile-beam fa-bounce fa-2xl" style="color: #f5f5f5;"></i>  </strong><br />
                        @Localizer[Message.SendSuccess]
                    </p>
                    <button id="closeSuccessModal" role="button" class="btn original-button-Success" data-dismiss="modal"> @Localizer[Message.OK]</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<!-- Error Modal -->
<!-- Frame Modal Top Info-->
<div class="modal fade " id="error-box" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <!--Content-->
        <div class="modal-content" style="background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(#CBCDD3, 10%);">
            <!--Body-->
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="pt-3 pr-2" style="text-align: center; text-transform: uppercase; font-family: monospace; font-weight: bold;color:white;">
                        <strong> <i class="fa-solid fa-face-frown-open fa-bounce fa-2xl move" style="color:white;"></i> </strong><br />
                        <div id="modalMessage">
                            @Localizer[Message.SomeWrong]
                        </div>
                    </div>
                    <button id="closeErrorModal" role="button" class="btn original-button" data-dismiss="modal">
                        @Localizer[Message.riprova]
                    </button>
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>



<div class="home" style="display: flex; justify-content: center;" id="topLanding">
    <video preload="metadata" poster="~/asset/img/backgrounddesktop.png" id="videoDesktop" muted loop autoplay playsinline>
        <source src="~/asset/video/videobackground.mp4" type="video/mp4" />
    </video>
    <video preload="metadata" poster="~/asset/img/backgrounddesktop.png" id="videoMobile" muted loop autoplay playsinline style="display:none;">
        <source src="~/asset/video/videobackground.mp4" type="video/mp4" />
    </video>
    @*<div class="reveal heading" id="titleReveal">
    <h1 >Graldev</h1>
    </div>
    <br />
    <div class="reveal heading" id="SubTitleReveal">
    <h1 >@Localizer[MainResource.SubTitle]</h1>
    </div>*@


    <div class="title" style=" text-align: center;">
        <p class="heading">
            <h1 class="reveal">Graldev </h1>
            <br />
            <br />
        </p>
        <p class="heading">
            <h2 class="reveal">@Localizer[MainResource.SubTitle]</h2>
            <br />
        </p>
        <a href="#about">
            <div class="scrolling2 hidden-sm-up">
                <div class="mouse2">

                    <div class="wheel"></div>
                </div>
                <div>
                    <span class="unu center"></span>
                    <span class="doi center"></span>
                </div>
            </div>
        </a>
    </div>

</div>
<section id="spacebar1" style="background: #f9f6f6fa;">
    <br />
</section>

<section id="spaceBar" style="background: #f9f6f6fa;">
    <br />
</section>

<div class="background one parallax">
    <h1>@Localizer[ClientsResource.TitleClientsection]</h1>
</div>
<!-- About Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="about" style="background: #f9f6f6fa;">
    <div class="container">
        <div class="row">
            <h1 class="titleHome" style="display:none;text-align:center;font-weight: 600;text-transform: uppercase;">
                @Localizer[ClientsResource.TitleClientsection]
            </h1>
            <div class="block"></div>
            <p>
                <h3 style="font-size: 3.0rem !important;text-align:center;"><span class="typcn typcn-device-desktop icon"></span><strong style="text-align:center"> @Localizer[ClientsResource.canHelpClient] </strong></h3>
                @Html.Raw(ClientsResource.MissionClient)
            </p>
        </div>
        <div class="row">

            <section class="grid-1" style="background:transparent !important">

                <div class="item-1" style="background:transparent;text-align: center;">
                    <button class="circle-icon-button btn btn-primary" onclick="openModal('System','asset/img/modals/sys.jpg')" style="text-align:center;">
                        <img width="76" height="76" src="~/asset/img/icons/puzzle.png" style="margin:-3px;" />
                    </button>
                    <span style="font-size: 1rem ;color:black;text-align: center; display: block;">  Systems  Integration</span>
                </div>
                <div class="item-2" style="background:transparent;text-align: center;">
                    <button class="circle-icon-button btn btn-primary" onclick="openModal('App','asset/img/modals/run.png')" style="text-align:center;">
                        <img width="78" height="78" src="~/asset/img/icons/videogame.png" style="margin:-3px;" />
                    </button>
                    <span style="font-size: 1rem ;color:black;text-align: center; display: block;"> Mobile Apps<br /> &<br /> Videogames</span>
                </div>
                <div class="item-3" style="background:transparent;text-align: center;">
                    <button class="circle-icon-button btn btn-primary" onclick="openModal('Api','asset/img/modals/amaz.jpg')" >
                        <img width="90" height="90" src="/asset/img/icons/e-commerce.png" style="margin: -5px;">
                    </button>
                    <span style="font-size: 1rem ;color:black;text-align: center; display: block;">Amazon ,eBay <br /> & <br /> Shopify  WebAPI</span>
                </div>

                <div class="item-4" style="background:transparent;text-align: center;">
                    <button class="circle-icon-button btn btn-primary" onclick="openModal('Tlc','asset/img/modals/support.jpg')" >
                        <img width="78" height="78" src="~/asset/img/icons/support_new.png" style="margin:-3px;" />
                    </button>
                    <span style="font-size: 1rem ;color:black;text-align: center; display: block;"> @Localizer[ClientsResource.TlcclientTitle]</span>
                </div>
                <div class="item-5" style="background:transparent;text-align: center;">
                    <button class="circle-icon-button btn btn-primary" onclick="openModal('Mana','asset/img/modals/gestionale.jpg')" >
                        <img width="78" height="78" src="~/asset/img/icons/gestionali.png" style="margin:-3px;" />
                    </button>
                    <span style="font-size: 1rem ;color:black;text-align: center; display: block;">@Localizer[ClientsResource.GestClientTitle]</span>
                </div>
                <div class="item-6" style="background:transparent;text-align: center;">
                    <button class="circle-icon-button btn btn-primary" onclick="openModal('AR','asset/img/modals/3d.png')" >
                        <img width="78" height="78" src="~/asset/img/icons/grafica.png" style="margin:-3px;" />
                    </button>
                    <span style="font-size: 1rem ;color:black;text-align: center; display: block;">AR App<br /> &<br />3D Modeling</span>
                </div>
                <div class="item-7" style="background:transparent;text-align: center;">
                    <button class="circle-icon-button btn btn-primary" onclick="openModal('Mark','asset/img/modals/AI_Image_content.png')" >
                        <img width="78" height="78" src="~/asset/img/icons/AI_Image.png" style="margin:-3px;" />
                    </button>
                    <span style="font-size: 1rem ;color:black;text-align: center; display: block;"> @Localizer[MainResource.AI_Content_title]</span>
                </div>
                <div class="item-8" style="background:transparent;text-align: center;">
                    <button class="circle-icon-button btn btn-primary" onclick="openModal('Social','asset/img/modals/Vitinerario.png')" >
                        <img width="78" height="78" src="~/asset/img/icons/AI_API.png" style="margin:-3px;" />
                    </button>
                    <span style="font-size: 1rem ;color:black;text-align: center; display: block;">@Localizer[MainResource.AI_API]</span>
                </div>

                @*
                    <div class="item-5-s" style="background:transparent;text-align: center;">
                </div>
                    <div class="item-7" style="background:transparent;text-align: center;">
                    <button class="circle-icon-button btn btn-primary" onclick="openModal('Mark','asset/img/modals/marketin.jpg')">
                    <img width="64" height="64" src="~/asset/img/icons/marketing.png" style="margin:-3px;" />
                    </button>
                    <span style="font-size: 1rem ;color:black;text-align: center; display: block;"> @Localizer[ClientsResource.MarketingClientTitle]</span>
                    </div>
                    <div class="item-8" style="background:transparent;text-align: center;">
                    <button class="circle-icon-button btn btn-primary" onclick="openModal('Social','asset/img/modals/social.jpg')">
                    <img width="64" height="64" src="~/asset/img/icons/social.png" style="margin:-3px;" />
                    </button>
                    <span style="font-size: 1rem ;color:black;text-align: center; display: block;">Social Networks <br /> Management </span>
                    </div>
                *@


            </section>
        </div>
        <div class="row">
            <div class="block"></div>
            <p>
                <h1 style="text-align:center"> @Html.Raw(ClientsResource.KnowMore) </h1>
            </p>
        </div>
    </div>
</section>

<div class="bkgmobile" style="display:none;width:100%;">
    <img class="Imgbkgmobile" src="~/asset/img/computer.jpg" />
</div>

<div class="background threeB parallax">
    <h1>@Localizer[MainResource.CustomersAndPartners]</h1>
</div>
<!-- Testimonials Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="testimonial" style="background: #f9f6f6fa;">
    <div class="container">
        <div class="row">
            <h1 class="titleHome" style="display:none;text-align:center;font-weight: 600;text-transform: uppercase;">@Localizer[MainResource.CustomersAndPartners]</h1>
            <div class="block"></div>
            <br />
        </div>
        <section class="grid-1" style="background:transparent;">

            <div class="item-1" style="background:transparent;text-align: center;align-content: center;">
                <img src="~/asset/img/logoCIC.png" style="width: 85px; height:85px" />
            </div>
            <div class="item-2" style="background:transparent;align-content: center;">
                <img src="~/asset/img/logo_feem.jpg" style="width: 133px;" />
            </div>
            <div class="item-3" style="background:transparent;align-content: center;">
                <img src="~/asset/img/logo_unisob.png" style="width: 133px;" />
            </div>
            <div class="item-4" style="background:transparent;align-content: center;">
                <img src="~/asset/img/fastera-logo.png" style="width: 133px;" />
            </div>
            <div class="item-3" style="background:transparent;align-content: center;">
                <img src="~/asset/img/logo_betflag.png" style="width: 133px;" />
            </div>
            <div class="item-5" style="background:transparent;align-content: center;">
                <img src="~/asset/img/logo_beatdata.png" style="width: 133px;" />
            </div>
            <div class="item-6" style="background:transparent;align-content: center;">
                <img src="~/asset/img/LogoMicrosoft.png" style="width: 133px;" />
            </div>
            <div class="item-7" style="background:transparent;text-align: center;">
                <img src="~/asset/img/logo_manthano.png" style="width: 80px;" />
            </div>
            <div class="item-8" style="background:transparent;text-align: center;align-content: center;">
                <img src="~/asset/img/logo_vit.png" style="width: 133px;" />
            </div>
            <div class="item-9" style="background:transparent;align-content: center;">
                @*cantine del notaio*@
                <img src="~/asset/img/loco_cantine.png" style="width: 133px;" />
            </div>
            <div class="item-10" style="background:transparent;align-content: center;">
                <img src="~/asset/img/logo_Soluzioni_dark.png" style="width: 133px;" />
            </div>
            <div class="item-11" style="background:transparent;align-content: center;">
                <img src="~/asset/img/logo_studiodomino.png" style="width: 133px;" />
            </div>
            <div class="item-12" style="background:transparent;align-content: center;">
                <img src="~/asset/img/logo_astra.png" style="width: 133px;" />
            </div>
            <div class="item-13" style="background:transparent;align-content: center;">
                <img src="~/asset/img/ofello_logo.png" style="width: 133px;" />
            </div>
            @*
            <div class="item-11" style="background:transparent;">
                <img src="~/asset/img/dorenah.png" style="width: 133px;" />
            </div> *@

        </section>

    </div>

</section>

<div class="bkgmobile" style="display:none;width:100%">
    <img class="Imgbkgmobile" src="~/asset/img/ContactUs.jpg" />
</div>

<div class="background four parallax">
    <h1>@Localizer[MainResource.ContactUs]</h1>
</div>
<!-- Contact Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section id="spaceBar" style="background: #f9f6f6fa;">
    <br />
</section>
<section id="ContactDesktop" style="background: #f9f6f6fa;">

    <br />
    <div class="container" style="display:flex;justify-content: center;flex-direction: row-reverse;">
        <div class="block"></div>
        <div style="border: 3px solid #607D8B;margin-left: 51px;">
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.4957946249706!2d15.834202912298624!3d40.641000141838866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1338e31862b2b7fb%3A0xf29e8cdc71b253fd!2sGraldev%20S.a.s.%20di%20Omar%20Marino!5e0!3m2!1sit!2sit!4v1695903543919!5m2!1sit!2sit" width="300" height="520" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="w3-large w3-margin-bottom">
                <i class="fa fa-map-marker w3-hover-text-black" style="width:30px"></i>@ContactsInfo.Value.Address - @ContactsInfo.Value.Cap - @ContactsInfo.Value.City <br>
                <i class="fa fa-phone w3-hover-text-black" style="width:30px"></i> Phone: @ContactsInfo.Value.Telefono<br>
                <i class="fa fa-envelope w3-hover-text-black" style="width:30px"> </i> Email: @ContactsInfo.Value.Email<br>
            </div>

            @* Contact Form *@
            <form asp-controller="Home" asp-action="SendEmail" method="post" onsubmit="showContactModal()">
                <div class="row">
                    <div class="six columns">
                        <label for="email" style="margin-top: 11px;"> Email</label>
                    </div>
                    <input class="u-full-width" name="email" style=" border: 1px solid #bfd3dd;box-shadow: 1px 1px 5px 0px #9E9E9E;" type="email">
                </div>
                <div class="row">
                    <div class="six columns">
                        <label for="request">Message</label>
                    </div>
                    <textarea name="request" class="u-full-width lblbox"></textarea>
                    <input id="submit-button" class="btn-primary" type="submit" value="Submit">
                </div>
            </form>

        </div>

    </div>
    <br />
</section>
<section id="spaceBar" style="background: #f9f6f6fa;">
    <br />
</section>

<section id="ContactMobile" style="background: #f9f6f6fa;display:none;">

    <div class="container" style="display: flex;flex-direction: column;flex-wrap: nowrap;align-content: center;justify-content: space-evenly;align-items: center;">
        <h1 style="font-weight: 600;text-transform: uppercase;">@Localizer[MainResource.ContactUs]</h1>
        <div class="block"></div>
        <form asp-controller="Home" asp-action="SendEmail" method="post" onsubmit="showContactModal()">
            <div class="row">
                <div class="six columns">
                    <label for="email" style="margin-top: 11px;">Email</label>
                </div>
                <input class="u-full-width" name="email" style=" border: 1px solid #bfd3dd;box-shadow: 1px 1px 5px 0px #9E9E9E;" type="email">
            </div>
            <div class="row">
                <div class="six columns">
                    <label for="request">Message</label>
                </div>
                <textarea class="u-full-width" name="request" style=" border: 1px solid #bfd3dd;box-shadow: 1px 1px 5px 0px #9E9E9E;"></textarea>
                <input id="submit-button" class="btn-primary" type="submit" value="Submit">
            </div>
        </form>

        <br />
        <div class="row">
            <div class="w3-large w3-margin-bottom">
                <i class="fa fa-map-marker w3-hover-text-black" style="width:30px"></i>@ContactsInfo.Value.Address - @ContactsInfo.Value.Cap - @ContactsInfo.Value.City <br>
                <i class="fa fa-phone w3-hover-text-black" style="width:30px"></i> Phone: @ContactsInfo.Value.Telefono<br>
                <i class="fa fa-envelope w3-hover-text-black" style="width:30px"> </i> Email: @ContactsInfo.Value.Email<br>
            </div>
        </div>
        <br />
        <div class="row" style="border: 3px solid #607D8B;">
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.4957946249706!2d15.834202912298624!3d40.641000141838866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1338e31862b2b7fb%3A0xf29e8cdc71b253fd!2sGraldev%20S.a.s.%20di%20Omar%20Marino!5e0!3m2!1sit!2sit!4v1695903543919!5m2!1sit!2sit" width="300" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <br />
</section>
<section id="spaceBar" style="background: #f9f6f6fa;">
</section>



<!-- Modals Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- System Integration -->
<div class="modal fade" id="system-modal" tabindex="-1" role="dialog" aria-labelledby="systemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Systems Integration</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Image on top -->
                        <img id="modalInfoImage" src="" class="img-fluid" alt="Image">
                    </div>
                    <div class="row">
                        <!-- Text on bottom -->
                        <br/>
                        <div style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; color: #333;">
                            <br />
                            @Html.Raw(ClientsResource.SysModal)
                        </div>
                        @*<p id="modalInfoMessage">@Html.Raw(ClientsResource.SystemIntegrationClient)</p>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-btn btn btn-primary">@Localizer[Message.Contattaci]</button>
            </div>
        </div>
    </div>
</div>

<!-- Mobile Apps & Videogames  -->
<div class="modal fade" id="app-modal" tabindex="-1" role="dialog" aria-labelledby="appModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">  Mobile Apps & Videogames</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Image on top -->
                        <img id="modalInfoImage" src="" class="img-fluid" alt="Image">
                    </div>
                    <div class="row">
                        <!-- Text on bottom -->
                        <br />
                        <div style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; color: #333;">
                            <br />
                            @Html.Raw(ClientsResource.AppsModal)
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-btn btn btn-primary">@Localizer[Message.Contattaci]</button>
            </div>
        </div>
    </div>
</div>

<!-- Amazon & Ebay WebAPI  -->
<div class="modal fade" id="api-modal" tabindex="-1" role="dialog" aria-labelledby="apiModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Amazon , eBay & Shopify  WebAPI</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Image on top -->
                        <img id="modalInfoImage" src="" class="img-fluid" alt="Image">
                    </div>
                    <div class="row">
                        <!-- Text on bottom -->
                        <br />
                        <div style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; color: #333;">
                            <br />
                            @Html.Raw(ClientsResource.CartModal)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-btn btn btn-primary">@Localizer[Message.Contattaci]</button>
            </div>
        </div>
    </div>
</div>

<!-- Supporto e Consulenza IT - TLC  -->
<div class="modal fade" id="tlc-modal" tabindex="-1" role="dialog" aria-labelledby="tlcModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Html.Raw(ClientsResource.TlcclientTitle)</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Image on top -->
                        <img id="modalInfoImage" src="" class="img-fluid" alt="Image">
                    </div>
                    <div class="row">
                        <!-- Text on bottom -->
                        <br />
                        <div style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; color: #333;">
                            <br />
                            @Html.Raw(ClientsResource.SupportModal)
                            @* icon list :
                            <i class="fa-solid fa-headset"style="color: #37d28a;" ></i>
                            *@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-btn btn btn-primary">@Localizer[Message.Contattaci]</button>
            </div>
        </div>
    </div>
</div>

<!-- Software Gestionali -->
<div class="modal fade" id="mana-modal" tabindex="-1" role="dialog" aria-labelledby="manaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer[ClientsResource.GestClientTitle]</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Image on top -->
                        <img id="modalInfoImage" src="" class="img-fluid" alt="Image">
                    </div>
                    <div class="row">
                        <!-- Text on bottom -->
                        <br />
                        <div style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; color: #333;">
                            <br />
                            @Html.Raw(ClientsResource.GestModal)
                            @* icon list :
                            <i class="fa-solid fa-gear"style="color: #37d28a;"></i>
                            *@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-btn btn btn-primary">@Localizer[Message.Contattaci]</button>
            </div>
        </div>
    </div>
</div>

<!-- Ar App & 3D Modeling -->
<div class="modal fade" id="ar-modal" tabindex="-1" role="dialog" aria-labelledby="arModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ar App & 3D Modeling</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Image on top -->
                        <img id="modalInfoImage" src="" class="img-fluid" alt="Image">
                    </div>
                    <div class="row">
                        <!-- Text on bottom -->
                        <br />
                        <div style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; color: #333;">
                            <br />
                            @Html.Raw(ClientsResource.ARModal)
                            @* icon list :
                            <i class="fa-solid fa-gear"style="color: #37d28a;"></i>
                            *@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-btn btn btn-primary">@Localizer[Message.Contattaci]</button>
            </div>
        </div>
    </div>
</div>

<!-- AI Content Creation -->
<div class="modal fade" id="mark-modal" tabindex="-1" role="dialog" aria-labelledby="markModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer[MainResource.AI_Content_title]</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Image on top -->
                        <img id="modalInfoImage" src="" class="img-fluid" alt="Image">
                    </div>
                    <div class="row">
                        <!-- Text on bottom -->
                        <p id="modalInfoMessage">@Html.Raw(MainResource.AI_ContentDescription)</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-btn btn btn-primary">@Localizer[Message.Contattaci]</button>
            </div>
        </div>
    </div>
</div>

<!-- AI Integration and Development -->
<div class="modal fade" id="social-modal" tabindex="-1" role="dialog" aria-labelledby="socialModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer[MainResource.AI_API]</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Image on top -->
                        <img id="modalInfoImage" src="" class="img-fluid" alt="Image">
                    </div>
                    <div class="row">
                        <!-- Text on bottom -->
                        <p id="modalInfoMessage">@Html.Raw(MainResource.AI_API_Description)</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-btn btn btn-primary">@Localizer[Message.Contattaci]</button>
            </div>
        </div>
    </div>
</div>
